version: '3.8'

services:
  frontend:
    build:
      context: frontend
      dockerfile: Dockerfile
      target: base # DEPURACIÓN
    ports:
      - "5173:5173"
      - "3000:80"
    depends_on:
      - backend
    volumes:
      - ./frontend:/app
      - /app/node_modules
    command: npm run dev # DEPURACIÓN

  backend:
    build:
      context: backend
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    environment:
      - DB_HOST=postgres_db
      - DB_PORT=5432
      - DB_USER=user
      - DB_PASSWORD=password
      - DB_NAME=mydb
    depends_on:
      postgres_db:
        condition: service_healthy
    volumes:
      - ./backend:/app
      - /app/node_modules

  postgres_db:
    build: ./db
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=mydb
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d mydb"]
      interval: 5s
      timeout: 5s
      retries: 5

  tester:
    build:
      context: .
      dockerfile: Dockerfile.test
    volumes:
      - .:/app
    environment:
      - API_BASE_URL=http://backend:8000
      - DB_HOST=postgres_db
      - DB_USER=user
      - DB_PASSWORD=password
      - DB_NAME=mydb
      - DB_PORT=5432
    depends_on:
      backend:
        condition: service_started
    command: >
      sh -c "echo 'Tester container ready. Execute tests with:
      docker-compose exec tester python -m unittest tests.test_api_funcional' &&
      sleep infinity"

volumes:
  postgres_data:
